# Single char:
   ###     \d    -->      matches 0 to 9 (any one digit)
   ###     .      -->      matches any character except a newline
   ###     *     -->      matches  match 0 or more repetitions.
   ###     \w   -->      this includes alphanumeric characters as well as the underscore (_). [a-zA-Z0-9_]  
   ###                                                          Ex--  (1) Ranbow.* ,(2)  \d\d\d-\d\d\d-\d\d\d\d
  
  
# Quantifire:(meta char)
   ###     *      -->      0 or more
   ###     +     -->      1 or more
   ###     ?     -->      0 or one
   ###     {min,max}   -->   min “m” and max “n” times                               
   ###     {m}	-->     occurs “m” times	    
   ###                                                         Ex- (1) \w{4,6} (2) colou? followed by o (means u is optional)
   ###                                                                (4) colou?rs? followed by o (means u,r,s are optional) (5) sd{3} = sddd
   ###                                                                (5) sd{2,3}=sdd or sddd
   
# Positional:
   ###     ^     -->      matches  begening 
   ###     \b     -->     matches the empty string, but only at the beginning or end of a word.(word boundary)This means that r'\bfoo\b' matches 'foo'
   ###     doller_sym    -->    matches the end of the string or just before the newline at the end of the string. 
   ###                                                        Ex- foo.(sym_doller) in 'foo1\nfoo2\n' matches ‘foo2’ normally
# Char class:
   ###     [  ]  -->   used to indicate a set of characters. (-) delimeter indicated by giving two characters and separating them.   
   ###                                        Ex- (1) [amk] Characters can be listed individually, [amk] will match 'a', 'm', or 'k'.(2)         ###                                                (2) indicated by giving two characters and separating them [a-z]
   
# Group:
   ### A group is a part of a regex pattern enclosed in parentheses () metacharacter.
   ###   Ex-  ((\w)(\s\d)) here 3 group is present.

In [2]:
import re

In [3]:
text='''
Elon musk's phone number is 999111666666, call him if you have any questions on dodgecoin. Tesla's revenue is 40 billion
Tesla's CFO number (999)-333-7777
'''

pattern='\(\d{3}\)-\d{3}-\d{4}|\d{10}'

matches=re.findall(pattern,text)
matches

['9991116666', '(999)-333-7777']

In [8]:
text = '''
Note 1 - Overview
Tesla, Inc. (“Tesla”, the “Company”, “we”, “us” or “our”) was incorporated in the State of Delaware on July 1, 2003. We design, develop, manufacture and sell high-performance fully electric vehicles and design, manufacture, install and sell solar energy generation and energy storage
products. Our Chief Executive Officer, as the chief operating decision maker (“CODM”), organizes our company, manages resource allocations and measures performance among two operating and reportable segments: (i) automotive and (ii) energy generation and storage.
Beginning in the first quarter of 2021, there has been a trend in many parts of the world of increasing availability and administration of vaccines
against COVID-19, as well as an easing of restrictions on social, business, travel and government activities and functions. On the other hand, infection
rates and regulations continue to fluctuate in various regions and there are ongoing global impacts resulting from the pandemic, including challenges
and increases in costs for logistics and supply chains, such as increased port congestion, intermittent supplier delays and a shortfall of semiconductor
supply. We have also previously been affected by temporary manufacturing closures, employment and compensation adjustments and impediments to
administrative activities supporting our product deliveries and deployments.
Note 2 - Summary of Significant Accounting Policies
Unaudited Interim Financial Statements
The consolidated balance sheet as of September 30, 2021, the consolidated statements of operations, the consolidated statements of
comprehensive income, the consolidated statements of redeemable noncontrolling interests and equity for the three and nine months ended September
30, 2021 and 2020 and the consolidated statements of cash flows for the nine months ended September 30, 2021 and 2020, as well as other information
disclosed in the accompanying notes, are unaudited. The consolidated balance sheet as of December 31, 2020 was derived from the audited
consolidated financial statements as of that date. The interim consolidated financial statements and the accompanying notes should be read in
conjunction with the annual consolidated financial statements and the accompanying notes contained in our Annual Report on Form 10-K for the year
ended December 31, 2020.
'''

patterns='Note \d - ([^\n]*)'
result=re.findall(patterns,text)
print(result)

['Overview', 'Summary of Significant Accounting Policies']

In [9]:
patterns='(Note \d - [^\n]*)'
result=re.findall(patterns,text)
print(result)

['Note 1 - Overview', 'Note 2 - Summary of Significant Accounting Policies']

In [13]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
fy2021 Q2 FY2021 Q4 FY2021 Q5
'''

pattern = 'FY\d{4} Q[1-4]'
matches = re.findall(pattern, text)
matches

['FY2021 Q1', 'FY2021 Q4']

In [22]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion. 
fy2021 Q2 FY2021 Q4 FY2021 Q5
'''

pattern = 'FY\d{4} Q[1-4]'
matches = re.findall(pattern, text, flags=re.IGNORECASE)
matches

['FY2021 Q1', 'fy2021 Q2', 'FY2021 Q4']

In [23]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion. $47846346.855754759
fy2021 Q2 FY2021 Q4 FY2021 Q5
'''

pattern = '\$[0-9]+'
matches = re.findall(pattern, text)
matches

['$4', '$8', '$47846346']

In [20]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.$47846346.85 $47846346.855754759
fy2021 Q2 FY2021 Q4 FY2021 Q5
'''

pattern = '\$[0-9\.]+'
matches = re.findall(pattern, text)
matches

['$4.85', '$8', '$47846346.85', '$47846346.855754759']

In [24]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.$47846346.85 $47846346.855754759
fy2021 Q2 FY2021 Q4 FY2021 Q5
'''

pattern = '\$([0-9\.]+)'
matches = re.findall(pattern, text)
matches

['4.85', '8', '47846346.85', '47846346.855754759']

In [42]:
import re
str='alice-byug@google.com'
match = re.search(r'[\w.-]+@[\w.-]+', str)
if match:
    print(match.group())

alice-byug@google.com

### Group example

In [7]:
import re

target_string = "The price of PINEAPPLE ice cream is 20"

# two groups enclosed in separate ( and ) bracket
result = re.search(r"(\b[A-Z]+\b).+(\b\d+)", target_string)

# Extract matching values of all groups
print(result.groups())
# Output ('PINEAPPLE', '20')

# Extract match value of group 1
print(result.group(1))
# Output 'PINEAPPLE'

# Extract match value of group 2
print(result.group(2))

('PINEAPPLE', '20')
PINEAPPLE
20

In [12]:
m = re.match(r"(\w+) (\w+)", "Isaac Newton, physicist")
print(m.group(0))       # The entire match
print(m.group(1))      # The first parenthesized subgroup.
print(m.group(2))       # The second parenthesized subgroup.
print(m.group(1, 2))    # Multiple arguments give us a tuple.

Isaac Newton
Isaac
Newton
('Isaac', 'Newton')

### Meaning of .

In [4]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

x = re.findall("he..o", txt)
print(x)

['hello']